@charset "UTF-8";

$primary-color: #f5f3ef;
$secondary-color: #f1f1f1;
$border-color: #ccc;
$text-color: #333;
$link-color: inherit;
$btn-hover-opacity: 0.9;
$box-shadow: 0 2px 4px rgba(0,0,0,0.1);
$transition: all 0.3s ease;

.logo-home {
  height: 30px;
  width: auto;
  margin-left: 5px;
  cursor: pointer;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: $primary-color;
}

a {
  text-decoration: none;
  color: $link-color;

  &.card {
    text-decoration: none;
    color: $link-color;
  }
}

.navbar {
  background-color: $secondary-color !important;
  border-bottom: 1px solid $border-color;
  box-shadow: $box-shadow;
}

.btn {
  transition: $transition;

  &:hover {
    opacity: $btn-hover-opacity;
  }

  &-light {
    border: 2px solid black;
  }
}

#formularioRegistroTrabajador,
#formularioRegistroUsuario {
  padding: 5px;
  align-items: center;
  justify-content: center;
}

#formularioRegistroUsuario {
  display: none;
}

.elegirUser {
  display: flex;
  justify-content: center;
  margin-top: 100px;

  .btn-selector {
    background-color: transparent;
    color: $text-color;
    padding: 8px 16px;
    font-weight: normal;
    border-radius: 10px;
    border: none;
    transition: 0.3s;
  }

  .btn-check:checked + .btn-selector {
    background-color: #e4e4e4;
    color: black;
  }
}

.loginPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;

  .card {
    width: 70%;
    display: flex;
    flex-direction: column;
  }

  .aRegistro {
    display: flex;
    align-content: center;
    justify-content: flex-end;
    margin-top: -30px;
    text-decoration: none;
    color: #343a40;
  }

  .ayuda {
    text-decoration: none;
    color: #343a40;
  }

  .tituloLogin {
    margin-right: 15px;
  }

  .footer {
    background-color: #333;
  }
}

.slogan {
  width: 100%;
  overflow: hidden;
  border-bottom: 5px solid #A1A1A1;

  &-img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.ubiYsvc {
  text-align: center;
  margin-top: 30px;
}

.filtros {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;

  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
      font-weight: bold;
      margin-bottom: 8px;
    }
  }
}

.form-select {
  width: 200px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid $border-color;
}

.btn-primary {
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
}

.footer {
  background-color: #A1A1A1;
  color: black;
  padding: 30px 20px;
  font-family: 'Poppins', sans-serif;
  background-color: $secondary-color !important;
  border-top: 1px solid $border-color;
  box-shadow: $box-shadow;

  &-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    text-align: left;
  }

  &-column {
    h6 {
      margin-bottom: 10px;
      font-weight: bold;
      color: black;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin: 5px 0;
      }

      a {
        color: grey;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &-bottom {
    text-align: center;
    font-size: 0.9rem;
  }

  hr {
    border-top: 2px solid $border-color;
    margin: 20px 0 10px 0;
  }
}

.social-icons {
  a {
    color: black;
    margin: 0 8px;
    font-size: 1.2rem;

    &:hover {
      color: #0d6efd;
    }
  }
}

.similares {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 5px;
  gap: 10px;
}

#carouselTrabajadores {
  position: relative;
  overflow: hidden;
  margin: 50px 0;

  .carousel-control-prev,
  .carousel-control-next {
    z-index: 5;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    &-icon {
      background-color: black;
      width: 100%;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .carousel-control-prev {
    left: 15px;
  }

  .carousel-control-next {
    right: 15px;
  }

  .carousel-inner {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 100px;
  }

  .carousel-item {
    padding-top: 10px;
    pointer-events: none;

    .card {
      width: 20rem;
      height: 30rem;
      margin: 0 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      overflow: hidden;
      position: relative;
      z-index: 1;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      pointer-events: auto;
      border: 1px solid transparent; // Inicialmente transparente

      &:hover {
        transform: scale(1.03);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
        z-index: 1;
        border-color: #c0a98f; // Verde Bootstrap
      }

      a {
        display: block;
        height: 100%;
      }

      &-body {
        flex-grow: 1;
        overflow-y: auto;
        padding: 10px;
        padding-top: 3rem;
        padding-bottom: 16px;
      }

      &-title {
        position: sticky;
        top: 0;
        background-color: white;
        padding: 0.5rem 0;
        z-index: 1;
        font-weight: bold;
        border-bottom: 2px solid $border-color;
        padding-bottom: 8px;
        margin-bottom: 12px;
      }
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    &:hover {
      background-color: rgba(0, 0, 0, 0.9);
      transform: translateY(-50%) scale(1.2);
      box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.3);
    }

    &-icon {
      font-size: 20px;
      color: #fff;
    }
  }

  .carousel-control-prev-icon {
    content: '\f104';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
  }

  .carousel-control-next-icon {
    content: '\f105';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
  }
}

.bodyPlanes {
  .planesCard {
    display: grid;
    grid-template-rows: 395px;
    grid-template-columns: repeat(3, 394px);
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: auto;

    .cardBasico {
      width: 350px;
      height: 395px;
    }

    .cardPremium {
      color: white;
      align-items: center;
      text-align: center;
      width: 350px;
      height: 395px;
    }
  }

  .preguntas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    .accordion {
      width: 50%;

      &-button:not(.collapsed) {
        background-color: white;
        color: black;
        border: 1.5px solid #5a5a5a;
      }
    }
  }

  .loginPage {
    @media (max-width: 425px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .card {
        width: 70%;
        display: flex;
        flex-direction: column;
      }
    }
  }

  .planesCard {
    @media (max-width: 425px) {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      width: 100%;
      height: auto;
      flex-direction: column-reverse;
    }
  }
}